<div class="card">
  <div class="card-body">
    <h5 class="titulo">LISTAR TARJETA
      <div class="spinner-border float-end" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
    </h5>
      <table class="table">
        <tbody>
          <tr *ngFor="let tarjeta of listaTarjetas">
            <td>{{tarjeta.titular}}</td>
            <td>{{tarjeta.numeroTarjeta}}</td>
            <td>{{tarjeta.fechaExpira}}</td>
            <td><i (click)="editarTarjeta(tarjeta)" class="far fa-edit text-info"></i></td>
            <td><i (click)="eliminarTarjeta(tarjeta.id)" class="far fa-trash-alt text-danger" ></i></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
